.placeholder-text {
    display: flex;
    margin-left: 280px;
    margin-top: 45px;
    top: 351px;
    left: 1237px;
    width: 414px;
    height: 28px;
}

input {
    outline: 0;
    border-width: 0 0 1px;
    border-color: rgba(112, 112, 112, 0.5);
}
input:focus {
    border-color: #707070;
}